.chat-channels {
	width: 20%;
	height: 100%;
}

.chat-channels .title {
	height: 10%;
    border: 2px solid white;
    background: linear-gradient(to left, #BF9CE8 10%, #FFEA95 100%) no-repeat;
}

.chat-channels h3 {
	padding: 10px;
	align-items:center;
    justify-content: center;
    color: white;
	margin-top: 4%;
	margin-bottom: 4%;
}

.chat-channels li {
    width: 100%;
}

.chat-channels .display-channels {
	border: 2px solid white;
	height: 75%;
	overflow: hidden;
	padding: 5px;
    overflow-y: scroll;
}

.chat-channels .channels-button {
    font-family: "Short Stack";
	margin: 2px;
	border: 2px solid white;
    border-radius: 20px;
    background: transparent;
    font-size: 1em;
    color: white;
	text-shadow: 0 0 4px var(--color-yellow);
	width: 100%;
    cursor: pointer;
}

.chat-channels .channels-button:hover {
	font-size: 1.2em;
}

.chat-channels .add-channel {
	height: 15%;
}

.chat-channels .add-channel input {
    font-family: "Short Stack";
	text-align: center;
	height: 35%;
	width: 100%;
    border: 2px solid white;
    background: linear-gradient(to left, #BF9CE8 10%, #FFEA95 100%) no-repeat;
	text-shadow: 0 0 4px var(--color-yellow);
	color: white;
}

.chat-channels .add-channel button {
    cursor: pointer;
    font-family: "Short Stack";
	display: block;
	height: 30%;
	width: 100%;
    border: 2px solid white;
    background: linear-gradient(to left, #BF9CE8 10%, #FFEA95 100%) no-repeat;
	text-shadow: 0 0 4px var(--color-yellow);
	color: white;
	font-size: 1.2em;
	/* width: 80%; */
}

.chat-channels .add-channel button:hover {
	font-size: 1.4em;
}

/* .chat-channels .add-channel .check {
	height: 30%;
	width: 20%;
} */
