.DoubleAuth-wrapper h2 {
    color: white;
}

.DoubleAuth-wrapper .h2bis {
    color: white;
    margin-bottom: 5%;
}

.DoubleAuth-wrapper p {
    font-size: 1em;
    color: white;
}

.DoubleAuth-wrapper .pbis {
    font-size: 1em;
    color: white;
    margin-top: 10%;
}

.DoubleAuth-wrapper {
    display: flex;
    justify-content: center;
}

.DoubleAuth-wrapper .box-popup {
    position: relative;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 40px;
    top: 10vh;
    margin-bottom: 4%;
}

.DoubleAuth-wrapper .input-box {
    position: relative;
    width: 100%;
}

.DoubleAuth-wrapper .remember-forgot {
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
}

.DoubleAuth-wrapper .remember-forgot a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

.DoubleAuth-wrapper .remember-forgot a:hover {
    text-decoration: underline;
    text-shadow: 0 0 6px var(--color-yellow);
}

.DoubleAuth-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.DoubleAuth-wrapper .input-box input {
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    outline: none;
    font-size: 2em;
    color: white;
            text-shadow: 0 0 4px var(--color-yellow);
    text-align: center;
    padding: 3%;
    margin: 1%;
}

.DoubleAuth-wrapper .icon-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    cursor: pointer;
    z-index: 1;
}