.mainBtn {
    background-color: var(--color-purple);
    box-shadow: -5px 5px 0 0 var(--color-yellow);
    padding: 10px 20px;
    border: 2px solid var(--color-yellow);
    border-radius: 13px;
    color: white;
    font-size: 1.2em;
    width: 100%;
    font-family: "Short Stack";
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 0px;
}
   
.mainBtn:hover, .mainBtn.is-loading {
    background-color: var(--color-light-purple);
    transform: translate(-5px,5px);
    transition: transform 0.5s ease-out;
    box-shadow: 0 0 0 0 var(--color-yellow);
}

.mainBtn .icon {}
/* .mainBtn .icon:first-child {
    padding-right: 15px;
    font-size: 1em;
    color: white;
}*/

.mainBtn .icon:first-of-type {
    margin-right: 15px;
}

.mainBtn .icon:last-of-type {
    margin-left: 15px;
}

.mainBtn.is-loading {
    cursor: default;
}

.loader {
    width: 24px;
    height: 24px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.mainBtn .icon:last-child {
    padding-left: 15px;
    font-size: 1em;
    color: white;

}
