:root{
    --color-yellow: rgb(251, 218, 86);
    --color-purple: rgb(170, 156, 232);
    --color-light-purple: rgb(191, 183, 229);
    --color-blue: rgb(142, 212, 215);
    --color-light-pink: rgb(248, 163, 139);
}

.login {
    background-color: var(--color-purple);
    box-shadow: -5px 5px 0 0 var(--color-yellow);
    padding: 1% 2%;
        border: 2px solid var(--color-yellow);
        border-radius: 13px;
        font-size: 1.8em;
        color: white;
    transform: translateZ(0);
    will-change: transform;
}

.login:hover {
    background-color: var(--color-light-purple);
    transform: translate(-5px,5px);
    transition: transform 0.5s ease-out;
    box-shadow: 0 0 0 0 var(--color-yellow)
}