.chatcomponent {
	display: grid;
	grid-gap: 10px; 
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(10, 10px);
}


.module {
	grid-column: 1/2;
	grid-row: 1fr;
	padding: 10px;
}

.conversations {
	grid-column-start: 2/4;
}

.groupchat {
	grid-column-start: 2;
}

.box-popup {
	grid-row-start: 3;
	grid-row-end: 8;
    /* position: relative; */
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
    padding: 20px 40px;
    top: 10vh;

}

.writingbar {
	grid-row: 8/11;
    /* position: relative; */
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
    padding: 20px 40px;
    top: 10vh;
}

/* * {
	box-sizing: border-box;
  }
  body {
	font-family: Roboto, Helvetica, sans-serif;
  }
  /* Fixer le bouton sur le côté gauche de la page */
  /* .open-btn {
	display: flex;
	justify-content: flex-start;
  } */
  /* Stylez et fixez le bouton sur la page */
  /* .open-button {
	background-color: #1c87c9;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
  } */
  /* Positionnez la forme Popup */
  /* .login-popup {
	position: relative;
	text-align: center;
	width: 100%;
  } */
  /* Masquez la forme Popup */
  /* .form-popup {
	display: none;
	position: fixed;
	left: 45%;
	top: 5%;
	transform: translate(-45%, 5%);
	border: 2px solid #666;
	z-index: 9;
  } */
  /* Styles pour le conteneur de forme */
  /* .form-container {
	max-width: 300px;
	padding: 20px;
	background-color: #fff;
  } */
  /* Largeur complète pour les champs de saisie */
  /* .form-container input[type="text"],
  .form-container input[type="password"] {
	width: 100%;
	padding: 10px;
	margin: 5px 0 22px 0;
	border: none;
	background: #eee;
  } */
  /*Quand les entrées sont concentrées, faites quelque chose */
  /* .form-container input[type="text"]:focus,
  .form-container input[type="password"]:focus {
	background-color: #ddd;
	outline: none;
  } */
  /* Stylez le bouton de connexion*/
  /* .form-container .btn {
	background-color: #8ebf42;
	color: #fff;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
  } */
  /* Stylez le bouton pour annuler */
  /* .form-container .cancel {
	background-color: #cc0000;
  } */
  /* Planez les effets pour les boutons */
  /* .form-container .btn:hover,
  .open-button:hover {
	opacity: 1;
  } */ 