.chat-friends {
	width: 20%;
	height: 100%;
}

.chat-friends .title {
	height: 10%;
    border: 2px solid white;
    background: linear-gradient(to left, #BF9CE8 10%, #FFEA95 100%) no-repeat;
}

.chat-friends h3 {
	padding: 10px;
	align-items:center;
    justify-content: center;
    color: white;
	margin-top: 4%;
	margin-bottom: 4%;
}

.chat-friends li {
    width: 100%;
}

.chat-friends .friends-button {
    font-family: "Short Stack";
	margin: 2px;
	border: 2px solid white;
    border-radius: 20px;
    background: transparent;
    font-size: 1em;
    color: white;
	text-shadow: 0 0 4px var(--color-yellow);
	width: 100%;
    cursor: pointer;
}

.chat-friends .friends-button:hover {
	font-size: 1.2em;
}

.chat-friends .display-friends {
    border: 2px solid white;
	height: 75%;
	overflow: hidden;
	padding: 5px;
    overflow-y: scroll;
}

.chat-friends .add-friend {
	height: 15%;
}

.chat-friends .add-friend input {
    font-family: "Short Stack";
	text-align: center;
	height: 50%;
	width: 100%;
    border: 2px solid white;
    background: linear-gradient(to left, #BF9CE8 10%, #FFEA95 100%) no-repeat;
	text-shadow: 0 0 4px var(--color-yellow);
	color: white;
}

.chat-friends .add-friend button {
    cursor: pointer;
    font-family: "Short Stack";
	display: block;
	height: 50%;
	width: 100%;
    border: 2px solid white;
    background: linear-gradient(to left, #BF9CE8 10%, #FFEA95 100%) no-repeat;
	text-shadow: 0 0 4px var(--color-yellow);
	color: white;
	font-size: 1.2em;
}

.chat-friends .add-friend button:hover {
	font-size: 1.4em;
}
