.FriendList-wrapper h2 {
    color: white;
    margin: 3%;
    text-shadow: 0 0 4px var(--color-yellow);
}

.FriendList-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: auto;
}

.FriendList-wrapper .box {
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    overflow-y: scroll;

    margin: 4vw;
    justify-content: center;
    width: 100%;
    height: 30vw;
}

.FriendList-wrapper .box-change {
    display: flex;

    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    /* overflow-y: scroll; */
}

.box-change .choice-button {
    margin: 1vw;
    color: white;
    text-shadow: 0 0 4px var(--color-yellow);
}

.box-change .choice-button:first-child {
    padding-left: 4px;
}
.box-change .choice-button:last-child {
    padding-right: 2px;

}

.box-change .choice-button:hover {
    text-shadow: 0 0 6px var(--color-blue);
    cursor: pointer;
}
