p {
    font-size: 1em;
    color: white;
    overflow: hidden;
}

.box-parent {
    display: flex;
    justify-content: center;
}

.box-popup {
    position: relative;
    background: linear-gradient(to top, #BF9CE8 10%, #FFEA95 100%) no-repeat;
    /* background: transparent; */
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    overflow: hidden;
    padding: 40px;
    margin-bottom: 4%;
    margin: 1%;
}

.input-box {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.input-box > *:not(:last-child) {
    margin-right: 20px;
}