.FriendItem-wrapper p {
    font-size: 1em;
    color: white;
    overflow-x: scroll;
}

.FriendItem-wrapper {
    display: flex;
    justify-content: center;
}

.FriendItem-wrapper .box-popup {
    position: relative;
    background: linear-gradient(to top, #BF9CE8 10%, #FFEA95 100%) no-repeat;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    overflow: hidden;
    padding: 30px 20px 30px;
    /* padding: 40px; */
    margin-bottom: 4%;
    margin: 1%;
    width: 100%;
}

.FriendItem-wrapper .input-box {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.FriendItem-wrapper .input-box > *:not(:last-child) {
    margin-right: 20px;
}