.chat-msgs {
    height: 100%;
    width: 60%;
}

.chat-msgs .small-box {
    display: flex;
    justify-content: space-between;
    align-items:center;
    border: 2px solid white;
    height: 10%;
    position: relative;
    background: linear-gradient(to right, #BF9CE8 10%, #FFEA95 100%) no-repeat;
}

.chat-msgs .small-box:last-child {
    height: 15%;
}

.chat-msgs .small-box .nav-info {
    padding: 10px;
    align-items:center;
    justify-content: center;
    color: white;
}

.chat-msgs .small-box .nav-info:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
}

.chat-msgs .small-box .nav-info:last-child:after {
    display: none;
}

.chat-msgs .chat-input {
    font-family: "Short Stack";
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    background: transparent;
    font-size: 1em;
    color: white;
            text-shadow: 0 0 4px var(--color-yellow);
    margin-left: 4%;
    padding: 5px;
    width: 90%;
}

.icon-send {
    cursor: pointer;
    font-size: 1.7em;
    color: white;
    width: 10%;
    margin: 5px;
}

.icon-send:hover {
    font-size: 2.3em;
}

.icon-button {
    cursor: pointer;
    font-size: 1.7em;
    color: white;
}

.icon-button:hover {
    font-size: 2.3em;
}

.chat-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid white;
    padding: 10px 10px;
    overflow: hidden;
    height: 75%;
    overflow-y: scroll;
}

.chat-box {
    display: flex;
    flex-direction: column;
}

.conv {
    align-self: flex-start;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    background: transparent;
    font-size: 1em;
    color: white;
            text-shadow: 0 0 4px var(--color-light-pink);
    margin: 1%;
    margin-right: 25%;
    padding: 5px;
}

.chat-msgs .conv-user {
    align-self: flex-end;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    background: transparent;
    font-size: 1em;
    color: white;
            text-shadow: 0 0 4px var(--color-blue);
    margin: 1%;
    margin-left: 25%;
    padding: 5px;
}