.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 1000;
    backdrop-filter: blur(5px);
}