html {
  height: 100%;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  background: linear-gradient(to bottom, #BF9CE8 10%, #FFEA95 100%);
  font-family: "Short Stack";
  /* min-width: 320px; 
  min-height: 100vh; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
